.title
{
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.w
{
    width: 100%;
}


.title-text
{
    color: white;
    font-size: 23pt;
    padding-left: 180px;
}  

.search
{
    padding-top: 15px;
    margin-left: 30px;
}

.menu
{
    margin-left: 50px;
}

.ot
{
    margin-top: 100px;
}

.menu-text
{
    color: black;
    font-size:13pt;
}

.m
{
    padding-bottom: 5px;
    padding-left: 16px;
}

.create-post
{
    width: 500px;
}

.name
{
    margin: 5px;
}

.message
{
    padding: 5px;
}

.user-name
{
    font-weight: 600;
}

.post
{
    width: 500px;
    margin-top: 20px;
}

.border
{
    border: 4px solid rgb(53, 52, 52);
}